<section
  class="mt-14 border-t border-neutral-300 pt-6 w-full px-2 sm:max-w-4xl sm:mx-auto"
>
  <div
    class="max-w-3xl mx-auto flex items-center justify-center sm:justify-start gap-5 mt-12"
  >
    <img
      src="/img/cyber-edge-profile.png"
      alt="Van Munoz"
      class="author-photo grayscale"
    />
    <div class="space-y-1">
      <p class="text-lg font-semibold text-slate-700">Van Munoz</p>
      <p class="text-slate-700 text-sm">Founder, Cyber Edge LLC</p>
    </div>
  </div>
  <div class="max-w-3xl mx-auto px-6 mt-10 mb-20">
    <p class="text-slate-700 text-base leading-relaxed">
      Van offers executive-level guidance to help security leaders strengthen
      governance, reduce operational exposure, and align cybersecurity with
      business outcomes.
    </p>
  </div>
</section>
