<nav class="nav">
  <div class="nav-inner">
    <a class="nav-logo" href="/index.html">
      <img src="/img/cyber-brief-logo-corral.png" alt="Cyber-Brief logo" />
      <span class="nav-wordmark">Cyber-Brief</span>
    </a>

    <ul class="nav-links">
      <!--<li>
        <a href="/intelligence.html" class="font-blinker transition-colors">
          Briefings
        </a>
      </li> -->
      <li>
        <a href="/about.html" class="font-blinker transition-colors"> About </a>
      </li>
      <li>
        <a href="/subscribe.html" class="font-blinker transition-colors">
          Subscribe
        </a>
      </li>
    </ul>
  </div>
</nav>
