<nav class="nav">
  <div class="nav-inner">
    <a class="nav-logo" href="/index.html">
      <img src="/img/cyber-brief-logo-corral.png" alt="Cyber-Brief logo" />
      <span class="nav-wordmark">Cyber-Brief</span>
    </a>

    <ul class="nav-links font-blinker transition-colors">
      <!--<li>
        <a href="/intelligence.html">
          Briefings
        </a>
      </li> -->
      <li>
        <a href="/about.html"> About </a>
      </li>
      <li>
        <a href="#signup-area" class="subscribe-btn">Subscribe</a>
      </li>
    </ul>
  </div>
</nav>
